---
import Layout from "../layouts/Layout.astro";
import RoomForm from "../components/RoomForm";
---

<Layout>
    <div class="flex min-h-screen items-center justify-center">
        <RoomForm client:load />
    </div>
</Layout>
